.height100 {
  height: 100%;
}
.abs-fill {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.clear-fix::after{
  display: block;
  content: '';
  clear: both;
}
*{
  margin: 0;
  padding: 0;
}
li:focus {
  outline: none;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
.no-select{
-moz-user-select: none; 
-o-user-select:none; 
-khtml-user-select:none; 
-webkit-user-select:none; 
-ms-user-select:none; 
}

